<button (click)="reset()" class="reset">reset values</button>
<br>

<span>Creation operator examples</span>
<button (click)="useOf()">of</button>
<button (click)="useFrom()">from</button>
<br>

<span>Join creation operator examples</span>
<button (click)="useCombineLatest()">combineLatest</button>
<button (click)="useForkJoin()">forkJoin</button>
<button (click)="useMerge()">merge</button>
<button (click)="useRace()">race</button>
<br>

<span>Filtering and Utility operator examples - </span>
<button (click)="useFilter()">filter</button>
<button (click)="useFirst()">first</button>
<button (click)="useDistinctUntilChanged()">distinctUntilChanged</button>
<button (click)="useTake()">take</button>
<button (click)="useTakeUntil()">takeUntil</button>
<button (click)="useDebounceTime()">debounceTime</button>
<button (click)="useThrottleTime()">throttleTime</button>
<button (click)="useTap()">tap</button>
<br>
<span>Hot and cold observable examples: - </span>
<button (click)="showColdObservable()">Cold observable</button>
<button (click)="showHotObservable()">Hot observable</button>
<br>

<span>Transformation operators - </span>
<button (click)="useMap()">map</button>
<button (click)="useConcatMap()">concatMap</button>
<button (click)="useMergeMap()">mergeMap</button>
<button (click)="useSwitchMap()">switchMap</button>
<br>

<span>Subject examples - </span>
<button (click)="useUnicastObservable()">Observable (unicast)</button>
<button (click)="useMulticastObservable()">Observable (multicast)</button>
<button (click)="useBehaviorSubject()">BehaviorSubject (multicast)</button>
<button (click)="useReplaySubject()">ReplaySubject (multicast)</button>
<button (click)="useAsyncSubject()">AsyncSubject (multicast)</button>
<br>

<div [hidden]="hideDataStream">
  Data stream: <span *ngFor="let value of dataStream; let isLast=last">{{value}}{{isLast ? '' : ', '}}</span>
</div>
<div [hidden]="hideDataStream2">
  Data stream 2: <span *ngFor="let value of dataStream2; let isLast=last">{{value}}{{isLast ? '' : ', '}}</span>
</div>

<div [hidden]="hideClickCounts">Total number of clicks events: {{clickCounts}}</div>
<div [hidden]="hideDescription">List of emitted values {{description}}</div>
<!-- <span *ngFor="let value of emittedValues">{{value}}, </span> -->
<div *ngFor="let value of emittedValues">{{value}}</div>

<div [hidden]="coldHidden">
  <p>Cold Observable</p>
  <div>
   <p *ngFor="let value of dataStream">{{value}}</p>
   </div>
</div>
<div [hidden]="hotHidden">
  <p>Hot Observable</p>
  <div>
    <p *ngFor="let value of dataStream">{{value}}</p>
    </div>
</div>

<div></div>
