<div>
  Data stream: <span *ngFor="let value of dataStream">{{value}}, </span>
</div>

<button (click)="useFilter()">filter</button>
<button (click)="useDistinctUntilChanged()">distinctUntilChanged</button>
<button (click)="useDebounceTime()">debounceTime</button>
<button (click)="useThrottleTime()">throttleTime</button>
<button (click)="useFirst()">first</button>
<button (click)="useTake()">take</button>
<button (click)="useTakeUntil()">takeUntil</button>
<button (click)="useTap()">tap</button>
<button (click)="reset()" class="reset">unsubscribe</button>
<button (click)="reset()" class="reset">reset values</button>

<div>List of emitted values {{description}}</div>
<span *ngFor="let value of emittedValues"><span>{{value}}, </span></span>
<!-- <div *ngFor="let value of emittedValues"><span>{{proba}}</span></div> -->