<button (click)="reset()" class="reset">reset values</button>
<br>

<!-- <h1>Filtering and Utility operator examples</h1> -->
<span>Filtering and Utility operator examples - </span>
<button (click)="useFilter()">filter</button>
<button (click)="useFirst()">first</button>
<button (click)="useDistinctUntilChanged()">distinctUntilChanged</button>
<button (click)="useTake()">take</button>
<button (click)="useTakeUntil()">takeUntil</button>
<button (click)="useDebounceTime()">debounceTime</button>
<button (click)="useThrottleTime()">throttleTime</button>
<button (click)="useTap()">tap</button>
<br>

<span>Transformation operators - </span>
<button (click)="useMap()">map</button>
<button (click)="useConcatMap()">concatMap</button>
<button (click)="useMergeMap()">mergeMap</button>
<button (click)="useSwitchMap()">switchMap</button>
<br>

<span>Subject examples - </span>
<button (click)="useUnicastObservable()">Observable (unicast)</button>
<button (click)="useMulticastObservable()">Observable (multicast)</button>
<button (click)="useBehaviorSubject()">BehaviorSubject (multicast)</button>
<button (click)="useReplaySubject()">ReplaySubject (multicast)</button>
<button (click)="useAsyncSubject()">AsyncSubject (multicast)</button>
<br>

<div [hidden]="hideDataStream">
  Data stream: <span *ngFor="let value of dataStream; let isLast=last">{{value}}{{isLast ? '' : ', '}}</span>
</div>
<div [hidden]="hideDataStream2">
  Data stream 2: <span *ngFor="let value of dataStream2; let isLast=last">{{value}}{{isLast ? '' : ', '}}</span>
</div>

<div [hidden]="hideClickCounts">Total number of clicks events: {{clickCounts}}</div>
<div [hidden]="hideDescription">List of emitted values {{description}}</div>
<!-- <span *ngFor="let value of emittedValues">{{value}}, </span> -->
<div *ngFor="let value of emittedValues">{{value}}</div>
